@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

body {
  font-size: 16px;
  font-family: Roboto, 'Source Sans Pro', sans-serif;
}

header {
  background-color: #01013C;
  color: #ffffff;
  display: flex;
  align-items: center;
}

header a {
  text-decoration: none;
}

header img {
  margin: 10px;
}

h1 {
  font-size: 1.3rem;
  letter-spacing: 3px;
}

h2 {
  margin: 0 0 7px 0;
  font-family: Arvo, Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

nav {
  background-color: #000000;
}

nav ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  font-variant: small-caps;
  text-decoration: none;
  letter-spacing: 1.5pt;
}

nav a:hover {
  background-color: #a2bee6;
  padding: 0.4em;
  border-radius: 10%;
  color: #01013C;
}

.hero img {
  width: 100%;
  height: auto;
}

.meio {
  background-image: url("../images/logos/oilseedscape.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 1.1em;
  font-size: 25px;
  text-align: center;
  font-family: 'Arvo', sans-serif;
  color: #000;
}

.meio img {
  border-radius: 50%;
}


footer {
  background-color: #01013C;
  color: #ffffff;
  font-size: 1.1rem;
  padding: 1rem;
}

footer p {
  margin-left: 2%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (min-width: 500px) {
  nav ul {
    display: flex;
    align-items: center;
  }

  .meio h2 {
    color: #e8f0f7;
  }
}

@media screen and (min-width: 1060px) {
  .meio h3 {
    color: #e8f0f7;
  }
}